*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Clase con Dani
.padre{
    background-color: aquamarine;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;

}
.hijo{
    width: 150px;
    height: 150px;
    background-color: darkblue;
    border: 1px solid black;
    font-size: 30px;
}*/

/* Clase con Juan */
.wrapper{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.wrapper > * {
    padding: 10px;
    flex: 1 100%
}
.header{
    background: violet;
}

.footer {
    background:whitesmoke;
}
.main{
    text-align: left;
    background: deepskyblue;
}
.aside-1{
    background: gold;
}
.aside-2{
    background: green;
}